[TELEGRAM]
bot_token=YOUR_TELEGRAM_BOT_TOKEN
authorized_users=YOUR_TELEGRAM_USER_ID_1,YOUR_TELEGRAM_USER_ID_2

[GOOGLE_SHEETS]
sheet_name=YOUR_GOOGLE_SHEETS_SHEET_NAME
worksheet_name=YOUR_GOOGLE_SHEETS_WORKSHEET_NAME
column_number=YOUR_GOOGLE_SHEETS_COLUMN_NUMBER

[LOGGING]
level=DEBUG